@model DataImporter.Web.Models.ContactModel
@{
    ViewData["Title"] = "Contacts";
}
@section Styles
{
    <link href="~/css/Contacts.css" rel="stylesheet" />
}
@section Scripts
{
    <script>
        $(document).ready(function () {
            $.get('Dashboard/GroupName', function (data) {
                console.log(data);
                $.each(data, function (index, value) {
                    $('<option>').val(value).text(value).appendTo("#groupSelect");

                })
            })
        })
    </script>
}


<div class="card card-body">
    <form class="row g-3" method="post" asp-antiforgery="true">
        <div class="col-md-3">
            <label asp-for="GroupName" class="form-label">Group</label>
            <input type="text" class="form-control" id="group" asp-for="GroupName">
        </div>
        <div class="col-md-3">
            <label asp-for="DateFrom" class="form-label">Date From</label>
            <input type="text" class="form-control" id="datefrom" asp-for="DateFrom">
        </div>
        <div class="col-md-3">
            <label asp-for="DateTo" class="form-label">Date To</label>
            <input type="text" class="form-control" id="dateTo" asp-for="DateTo">
        </div>
        <div class="col align-self-end">
            <button type="submit" class="btn btn-info float-sm-right" >Search</button>
        </div>
    </form>
</div>

