@model DataImporter.Web.Models.ContactModel
@{
    ViewData["Title"] = "Contacts";
}
@section Styles
{
    <link href="~/css/Contacts.css" rel="stylesheet" />
    <link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.min.css" rel="stylesheet" />
}
@section Scripts
{
    <script src="/admin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#listGroups").chosen();
        });
        $(function () {
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
}


<div class="card card-body">
    <form class="row g-3" method="post" asp-antiforgery="true">
        <div class="col-md-3">
         @*@Html.ListBox("listGroups", ViewBag.Groups as SelectList, new { style = "width:100%" })*@
        </div>
        <div class="col-md-3">
            <label asp-for="DateFrom" class="form-label">Date From</label>
            <input type="text" class="form-control" id="datefrom" asp-for="DateFrom">
        </div>
        <div class="col-md-3">
            <label asp-for="DateTo" class="form-label">Date To</label>
            <input type="text" class="form-control" id="dateTo" asp-for="DateTo">
        </div>
        <div class="col align-self-end">
            <button type="submit" class="btn btn-info float-sm-right">Search</button>
        </div>
    </form>
</div>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Contacts</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" >
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Fees</th>
                                    <th>Start Date</th>
                                    <th style="width:150px">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Asp.net</td>
                                    <td>
                                        30000
                                    </td>
                                    <td>20/10/2021</td>
                                    <td></td>
                                </tr>
                            <tfoot>
                                <tr>
                                    <th>Title</th>
                                    <th>Fees</th>
                                    <th>Start Date</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content-wrapper -->
