<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->

<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row justify-content-center">
            <div class="col-md-3 col-3">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="container-md" style="padding:10%;">
                        <h3 style="justify-content:center;">150</h3>

                        <p style="justify-content:center;">Contacts</p>
                    </div>
                   </div>
            </div>
            <!-- ./col -->
            <div class="col-md-3 col-3">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="container-md" style="padding:10%;">
                        <h3 style="justify-content:center;">53</h3>
                        <p style="justify-content:center;">Imports</p>
                    </div>
                    
                  </div>
            </div>
            <!-- ./col -->
            <div class="col-md-3 col-3">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="container-md"  style="padding:10%;">
                        <h3 style="justify-content:center;">44</h3>
                        <p style="justify-content:center;">Imports</p>
                    </div>
                  </div>
            </div>
            </div>
        </div>
        </section>



@section Scripts
{
                <!-- ChartJS -->
                <script src="/admin/plugins/chart.js/Chart.min.js"></script>
}
