<div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
            <h3 style="color:aqua">Data Importer</h3>
        </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
            <li class="nav-item menu-open">
                <a href="#" class="nav-link active">
                    <i class="far fa-arrow-alt-circle-right"></i>
                    <p>
                        Groups
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a asp-controller="Dashboard" asp-action="Create" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Create Groups</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Dashboard" asp-action="ManageGroup" class="nav-link active">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Manage Group</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item menu-open">
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Dashboard" asp-action="Contacts" class="nav-link">
                            <i class="far fa-arrow-alt-circle-right"></i>
                            <p>Contacts</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Dashboard" asp-action="ImportJob" class="nav-link">
                            <i class="far fa-arrow-alt-circle-right"></i>
                            <p>Imports</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Dashboard" asp-action="ExportJob" class="nav-link">
                            <i class="far fa-arrow-alt-circle-right"></i>
                            <p>Exports</p>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
            <!-- Add icons to the links using the .nav-icon class-->
          
    </nav>
    <!-- /.sidebar-menu -->
</div>